
<% contacttag = :egs %>



<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1 class="contact-title"><%= t("#{contacttag}.name") %> </h1>
  </div>
</div>




<div class="panel transparent">

  <div class="panel-heading text-center">
    <h4 class="contact-contact-title"><%= t(:nouscontacter) %></h4>
  </div>
 
  <div class="panel-body">
    <p>Pour toute question sur la Lan Party, vous pouvez nous contacter sur : <%= link_to t("#{contacttag}.contact_at"), "mailto:" + t("#{contacttag}.contact_at") %><br /></p>
  </div>

</div>
