<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1 class="contact-title">La Zone Indé</h1>
  </div>
</div>

<div class="panel transparent">

  <div class="panel-heading text-center bold">
    <h3>Présentation de la Zone Indé</h3>
  </div>

  <div class="panel-body">
    <div class="col-md-12 col-xs-12">

      <h3 class="bold orange" style="font-size: 18px;">LA ZONE INDÉ, C’EST QUOI ?</h3>
      
      <%= image_tag "EGC_2016_IMG_11.jpg", class:"img-responsive" %>
      
      <p style="margin-top:10px">
        Entre Innovation, créativité, originalité, Evry Games City se veut le plus

grand rassemblement en France des créateurs de jeux indépendants

(plus de 30 des meilleurs studios francais représentés, réunit par le cluster 

Budgames). Créé spécialement pour l’occasion, le prix « Indies Games 

City » récompensera les meilleurs projets.

Cinq prix décernés : Gameplay, Image, Son, Originalité et Grand Prix 

du jury, sous la houlette d’un jury international composé de journalistes, 

développeurs, et influenceurs. Chacun des gagnants se verra offrir 

l’opportunité d’être incublé pendant un an au C-19, le centre et 

d’innovation de l’Ensiie . Le gagnant du « Grand prix du Jury » se verra 

quand à lui offrir par Budgames une wild card pour le prochain E3 à 

Los Angeles.<br />
        <br />
        Vous souhaitez venir présenter votre studio ainsi que vos créations ? Envoyez nous un email : <a href="mailto:contact@budgames.net">contact@budgames.net</a> !<br />
        <br />
        <a href="Budgames_concours.pdf" target="_blank">Téléchargez le règlement du concours Indies Games City !</a>
        
      </p>
    </div>


</div>




</div>
