<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1 class="contact-title">La Discovering Zone</h1>
  </div>
</div>

<div class="panel transparent">

  <div class="panel-heading text-center bold">
    <h3>Présentation de la Discovering Zone </h3>
  </div>

  <div class="panel-body">
    <div class="col-md-12 col-xs-12">

      <h3 class="bold orange" style="font-size: 18px;">LA DISCOVERING ZONE, C’EST QUOI ?</h3>
      
      <%= image_tag "EGC_2016_IMG_11.jpg", class:"img-responsive" %>
      
      <p style="margin-top:10px">
        Pour cette 2ème édition, les organisateurs ont décidé de mettre à l’honneur la créativité et l’innovation 
        « made in France ». Ce sont 40 des meilleurs studios indépendants Français qui seront présents pour 
        faire découvrir et partager leurs réalisations.<br />
        Créé spécialement pour l’occasion, le prix « Indies Games City 2 » récompensera les meilleurs 
        projets (PC, console, Smartphone) et permettra à l’un d’entre eux de représenter la « French 
        Touch » lors du prochain salon E3 de Los Angeles.<br />
        Les lauréats seront élus par un jury international composé de personnalités du secteur (développeurs, 
        game designers, journalistes, annonceurs, éditeurs, etc…)<br />
        La mise en œuvre de cette édition spéciale studios indépendants français a été confiée à l’équipe de 
        « BudGames Interactive ».
      </p>
    </div>


</div>




</div>
