<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1 class="contact-title"> La Zone Éducative</h1>
  </div>
</div>

<div class="panel transparent">

  <div class="panel-heading text-center bold">
    <h3>Présentation de la Zone Éducative</h3>
  </div>

  <div class="panel-body">
    <div class="col-md-12 col-xs-12">

      <h3 class="bold orange" style="font-size: 18px;">LA GAMING ZONE, C’EST QUOI ?</h3>
       
      <%= image_tag "Gaming.jpg", class:"img-responsive" %>
      
      <p style="margin-top:10px">
        Un espace pédagogique totalement dédié aux associations du territoire : le réseau Canopé, les Médiathèques de Grand Paris Sud qui 
        illustre travail de proximité réalisé tout au long de l’année par les services 
        culturels et la communauté éducative de l’agglomération.
        L’école à l’ère du numérique, ateliers ludo-pédagogique, serious-games, 
        animations interactives et concours amateurs seront à ce rendez-vous des 
        petits et des grands...
        
      </p>
      
      
      
    </div>
    


</div>




</div>
