  <div class="row">
    <div class="col-md-12 mosaique" id="banniere">
      <div class="panel panel-default"><div class="panel-body">banniere</div></div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8" id="left-mosaique">

      <div class="row">
        <div class="col-md-12 mosaique slideshow">
          <!--Slideshow-->
          <%= render partial: 'static_pages/carousel' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mosaique jeu csgo">
          <div class="panel panel-default"><div class="panel-body">CS:GO</div></div>
        </div>
        <div class="col-md-6 mosaique jeu lol">
          <div class="panel panel-default"><div class="panel-body">LoL</div></div>
        </div>
        <div class="col-md-6 mosaique jeu starcraft2">
          <div class="panel panel-default"><div class="panel-body">Starcraft 2</div></div>
        </div>
        <div class="col-md-6 mosaique jeu hearthstone">
          <div class="panel panel-default"><div class="panel-body">Hearthstone</div></div>
        </div>
      </div>
    </div><!-- col-md-8 left-mosaique -->

    <div class="col-md-4" id="right-mosaique">
      
      <div class="row">
        <div class="col-md-12 mosaique billeterie">
          <div class="panel panel-default"><div class="panel-body">Billeterie</div></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mosaique twitter">
          <a class="twitter-timeline" href="https://twitter.com/JeSuisUneFouger" data-widget-id="541279807129276418">Tweets de @JeSuisUneFouger</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mosaique instagram">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Instagram feed #EGC</h4>
            </div>
            <div class="panel-body">
              <!-- www.intagme.com -->
              <iframe src="http://www.intagme.com/in/?h=ZWdjfHNsfDMwMHwyfDN8fHllc3w1fHVuZGVmaW5lZHx5ZXM=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:300px; height: 315px" ></iframe>
            </div>
          </div>
        </div>
      </div>

    </div><!-- col-md-4 right-mosaique -->

  </div>


  <div class="row infos">
    <% [:infolieu, :infodate, :infomoyen, :infoprix].each do |infotag| %>
      <%= render partial: "static_pages/informations/info_mosaique", locals: {infotag: infotag} %>
    <% end %>
  </div>


  <div class="row partenaires">
   <% (1..6).each do |i| %>
      <%= render partial: 'static_pages/partenaires/partenaire_mosaique', locals: { i:i} %>
   <% end  %>
  </div>
