
  <div class="row">
    <div class="col-md-8" id="left-mosaique">

      <div class="row">
        <div class="col-md-12 mosaique slideshow">
          slideshow
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mosaique jeu csgo">
          CS:GO
        </div>
        <div class="col-md-6 mosaique jeu lol">
          LoL
        </div>
        <div class="col-md-6 mosaique jeu starcraft2">
          Starcraft 2
        </div>
        <div class="col-md-6 mosaique jeu hearthstone">
          Hearthstone
        </div>
      </div>
    </div><!-- col-md-8 left-mosaique -->

    <div class="col-md-4" id="right-mosaique">
      social media
    </div><!-- col-md-4 right-mosaique -->

  </div>



