<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1><%= t(:infopratiques) %></h1>
  </div>
</div>

<!--div class="row">

<!--div class="panel transparent"> <!-- Info lan -->
  <!--div class="panel-heading">
    <%#= render partial: 'static_pages/informations/info_subsection', locals: {infotag: :infolan} %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <%#= image_tag 'EGC_MASTER-mini.jpg', width: 200 %>
      </div>
      <div class="col-md-9">
        <p><%#= t("infolan.text") %></p>
        <p><%#= t("infolan.text2") %> </p>
      </div>
    </div>
  </div>
</div-->

<!--/div--><!-- row -->

<div class="row">
  <div class="col-md-6 left-column">


      <div class="panel transparent">
      <div class="panel-heading text-center">
        <h4>HORAIRES</h4>
      </div>
      <div class="panel-body">
        <p>
          <h4 class="orange">Samedi 16 Avril</h4>
         Ouverture de 10h00 à 19h00 <br />
       </p>
       <p>
          <h4 class="orange">Dimanche 17 Avril</h4>
          Ouverture de 10h00 à 18h00<br /> 
       </p>
      </div>
    </div>

    <div class="panel transparent">
      <div class="panel-heading text-center">
        <h4>ACCES</h4>
      </div>
      <div class="panel-body">
        <p><h4 class="orange">Adresse</h4>
           Arènes de l'Agora, 91000 Évry<br />
           <h4 class="orange">RER D</h4>
           Paris gare du Nord/Châtelet/Gare de Lyon direction Corbeil - Malesherbes, station Evry-Courcouronnes, sortie Agora (à 5 minutes des Arènes)<br />
           <h4 class="orange">Voiture</h4>
           A6 depuis Paris direction Lyon, sortie Evry puis direction Agora par le boulevard de l'Europe / Francilienne depuis Corbeil-Essonnes : sortie Bois Briard depuis Fleury-Mérogis, sortie Evry puis direction Agora par le boulevard de l'Europe<br />
           <h4 class="orange">Autobus</h4>
           Autobus TICE, arrêt Gare SNCF ou Agora</p>
      </div>
    </div>


    <div class="panel transparent"><!-- Hébergement -->
      <div class="panel-heading text-center">
        <h4>HEBERGEMENT</h4>
      </div>
      <div class="panel-body">
	<p><a class="hoverable" href="http://www.residhome.com/residence-hoteliere-aparthotel-evry-152.html" style=""><%= image_tag "logo_residhome_2.png", width: "100px"%></a> ( Résidence hôtelière 4 étoiles )<br />
	1 Rue Ambroise Croizat<br />
	91000 EVRY<br />
	Tel : +33 (0)1 69 47 47 47<br />
	Fax : +33 (0)1 69 47 47 48</p>

	<p>À 2 minutes à pied de la gare Évry-Courcouronnes Centre<br />
	Mentionnez votre code promo "Evry Games" pour obtenir une réduction lors de la réservation !</p>

	
     </div>
    </div>







  </div><!-- left column-->


  <div class="col-md-6 right-column">

    <div class="panel transparent">
      <div class="panel-heading text-center">
        <h4>TARIFS</h4>
      </div>
      <div class="panel-body">
        <h4 class="orange">Places spectateurs</h4>
        <div class="tabule">
          <p>Entrée gratuite sur inscription !*<br />
          *Dans la limite des places disponibles.</p>
          <p>Les enfants de moins de 12 ans doivent être accompagnés d'une personne majeure.</p>
          
        </div>
      </div>

        <!--h4 class="orange">Places joueurs</h4>
          <div class="tabule">Voir section tournois </div>
        <br /-->
        </div>
    </div>


   <div class="panel panel-default google-maps"><!-- Plan -->
      <iframe width="350" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Ar%C3%A8nes%20de%20l'Agora%2C%2091000%20Evry%2C%20France&key=AIzaSyCj5JRiau8OMBTI8Hi6Cysv7Zcdrl0Kb_I"></iframe>
    </div>


    




  </div> <!-- right column -->
</div>



<div class="row">





</div>





