
<div class="panel transparent">
  <div class="panel-body">
    <div>Le site est édité et hébergé par :</div>
    <div class="small_bold">
      <span class="orange">ENSIIE</span><br />
      1, square de la résistance<br />
      91025 Evry Cedex<br />
      FRANCE<br />
    </div>
    <div>
      Tel. : + 33 1 69 36 73 50<br />
      Fax. : + 33 1 69 36 73 05<br />
      <%= link_to "info@ensiie.fr", "mailto:info@ensiie.fr" %><br /><br />
    </div>
    <div>

      Responsable de la publication : Andrea Iacovella ( Dir Adjoint ENSIIE)<br />
      copyright ENSIIE 2015
    </div>


  </div>
</div>
