<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1><%= t(:infopratiques) %></h1>
  </div>
</div>

<!--div class="row">

<!--div class="panel transparent"> <!-- Info lan -->
  <!--div class="panel-heading">
    <%#= render partial: 'static_pages/informations/info_subsection', locals: {infotag: :infolan} %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <%#= image_tag 'EGC_MASTER-mini.jpg', width: 200 %>
      </div>
      <div class="col-md-9">
        <p><%#= t("infolan.text") %></p>
        <p><%#= t("infolan.text2") %> </p>
      </div>
    </div>
  </div>
</div-->

<!--/div--><!-- row -->

<div class="row">
  <div class="col-md-6 left-column">


      <div class="panel transparent">
      <div class="panel-heading text-center">
        <h4>HORAIRES</h4>
      </div>
      <div class="panel-body">
        <p>Samedi 25 et Dimanche 26 Avril 2015<br />
           De 09h00 à minuit.</p>
      </div>
    </div>

    <div class="panel transparent">
      <div class="panel-heading text-center">
        <!--div class="anchor">
          <a name="<%#= infotag %>"> </a>
        </div-->
       <!--h4 class="info-title" name="<%#= infotag %>"><%#= t("#{infotag}.name") %> </h4-->
        <h4>TOURNOIS</h4>
      </div>
      <div class="panel-body">
        <p>Samedi 25 Avril : phases de qualification<br />
           Dimanche 26 Avril : finales</p>
      </div>
    </div>


    <div class="panel transparent">
      <div class="panel-heading text-center">
        <h4>ACCES</h4>
      </div>
      <div class="panel-body">
        <p><h4 class="orange">Adresse</h4>
           Arènes de l'Agora, 91000 Évry.<br />
           <h4 class="orange">RER D</h4>
           Paris gare du Nord/Châtelet/Gare de Lyon direction Corbeil – Malesherbes station Evry-Courcouronnes, sortie Agora (à 5 minutes des Arènes).<br />
           <h4 class="orange">Voiture</h4>
           A6 depuis Paris direction Lyon, sortie Evry puis direction Agora par le boulevard de l'Europe / Francilienne depuis Corbeil-Essonnes : sortie Bois Briard depuis Fleury-Mérogis, sortie Evry puis direction Agora par le boulevard de l'Europe.<br />
           <h4 class="orange">Autobus</h4>
           Autobus TICE, arrêt Gare SNCF ou Agora</p>
      </div>
    </div>



  </div><!-- left column-->


  <div class="col-md-6 right-column">

    <div class="panel transparent">
      <div class="panel-heading text-center">
        <h4>TARIFS</h4>
      </div>
      <div class="panel-body">
        <h4 class="orange">Public</h4>
        <div class="tabule">
        <h4 class="orange">En prévente</h4>
          <div class="tabule">
          Plein Tarif : 15€<br />
          Tarif réduit  - jeune (7 - 18ans inclus) : 10€<br />
          Tarif réduit - étudiant : 10€<br />
          Journée du samedi pour tous : 16€
          </div>
        <h4 class="orange">A l’entrée</h4>
          <div class="tabule">
          Plein tarif : 16€<br />
          Tarif réduit - jeune (7 - 18ans inclus) : 11€<br />
          Tarif réduit - étudiant : 11€<br />
          Journée du samedi pour tous : 16€<br />
          </div>
        </div>

        <h4 class="orange">Joueurs</h4>
          <div class="tabule">Préinsciption : 35 € par joueur </div>

      </div>
    </div>


   <div class="panel panel-default google-maps"><!-- Plan -->
      <iframe width="350" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Ar%C3%A8nes%20de%20l'Agora%2C%2091000%20Evry%2C%20France&key=AIzaSyCj5JRiau8OMBTI8Hi6Cysv7Zcdrl0Kb_I"></iframe>
    </div>


  </div> <!-- right column -->
</div>



<div class="row">

  <div class="col-md-12">

    <div class="panel transparent"><!-- Services -->
      <div class="panel-heading text-center">
        <h4>SERVICES</h4>
      </div>
      <div class="panel-body">
        <p>Des serveurs funs seront mis en place pour tous ceux qui souhaitent se détendre entre 2 parties ou tout simplement jouer avec les personnes présentes :</p>
        <ul>
          <li>TeeWorlds</li>
          <li>CS Source</li>
          <li>Trackmania</li>
          <li>Team Forteress 2</li>
        </ul>
        <p>Des câbles et des PC seront disponibles à la location sur place, dans la limite des stocks disponibles.<br />
           Un <%= link_to "Hôtel Ibis", "http://www.ibis.com/fr/hotel-1986-ibis-styles-evry-cathedrale/index.shtml"%> se situe à proximité.<br />
           De nombreux restaurants du Centre Commercial Evry 2 situé à proximité seront disponibles.</p>
        
      </div>
    </div>

  </div>
</div>





