<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1 class="contact-title"> La Learning Zone </h1>
  </div>
</div>

<div class="panel transparent">

  <div class="panel-heading text-center bold">
    <h3>Présentation de la Learning Zone </h3>
  </div>

  <div class="panel-body">
    <div class="col-md-12 col-xs-12">

      <h3 class="bold orange" style="font-size: 18px;">LA LEARNING ZONE, C’EST QUOI ?</h3>
       
      <%= image_tag "NG.jpg", class:"img-responsive" %>
      
      <p style="">
        2 jours de Masterclass interactives et participatives entre le public et le meilleur de la création
        indépendante française.<br />
        Tout savoir sur l’élaboration d’un jeu, que se soit sur console, sur pc ou sur mobile. A tour de rôle, studios, 
        éditeurs, associations, et personnalités viendront présenter sur scène leurs réalisations et business, 
        exposer leurs inspirations et méthodes pour donner vie à leurs projets de jeu vidéo.<br /> 
        Les présentations se font sous forme d’ateliers thématisés.
      </p>
    </div>

    


</div>




</div>
