
<div class="panel transparent">
  <div class="panel-body text-center">
    <h1><%= t(:partenaires) %></h1>
  </div>
</div>


  <div class="row partenaires">
   <% (1..4).each do |i| %>
      <%= render partial: 'static_pages/partenaires/partenaire_mosaique', locals: { i:i} %>
   <% end  %>
  </div>
