
<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1><%= t(:partenaires) %></h1>
  </div>
</div>

<% nbpart = 9 %>
<% nbProducteurs = 2 %>
<% nbOfficiels = 2 %>



<div class="row partenaires-row">
  <% (1..9).each do |i| %>

    <div class="col-md-2 mosaique-container">
      <%= render partial: 'static_pages/partenaires/partenaire_mosaique', locals: { i:i} %>
    </div>

    <% if i == nbProducteurs %>
      </div>
      <div class="row partenaires-row">
        <div class="col-md-12 bold">
          <h4>Partenaires Officiels</h4>
          <hr />
        </div>
    <% elsif i == nbProducteurs + nbOfficiels %>
      </div>
      <div class="row partenaires-row">
        <div class="col-md-12 bold">
          <h4>Partenaires</h4>
          <hr />
        </div>
    <% end %>

  <% end  %>


</div>

<%#= render "static_pages/partenaires/partenaire_carousel" %>



