

<div class="panel transparent">
  <div class="panel-body text-center">
    <h1 class="contact-title">Plan du site</h1>
  </div>
</div>

<!--div class="panel transparent">
  <div class="panel-body">


      <div><%= link_to "Home", root_path %></div>

        <td><%= link_to "Informations", informations_path %></td>


        <td>Jeux</td>
      </tr>
      <tr>
        <div style="margin-left: 10px;">csgo</div>
      </tr>


	    lol
	    sc2
	    hs
	  contacts
	    contact egc
	    contact egs
	  partenaires
	    part1
	  règlement  





    </table>
  </div>
</div-->


