<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1 class="contact-title"> La Zone Éditeurs</h1>
  </div>
</div>

<div class="panel transparent">

  <div class="panel-heading text-center bold">
    <h3>Présentation de la Zone Éditeurs</h3>
  </div>

  <div class="panel-body">
    <div class="col-md-12 col-xs-12">

      <h3 class="bold orange" style="font-size: 18px;">LA ZONE ÉDITEURS, C’EST QUOI ?</h3>
      
      <%= image_tag "PLAYING.jpg", class:"img-responsive" %>
      
      <p style="margin-top:10px">
        Cette année encore, les plus grands noms de l’univers du jeu vidéo
        international sont présents.<br />
        En partenariat avec Xbox One, Sony Computer, Nintendo, ce sont 60 
        bornes en libres services qui attendent les visiteurs de tous âges pour 
        tester les meilleurs blogbusters du moment
        (Ubisoft, Capcom, EA, Warner, Bandai Namco Entertainment, Square Enix, Bigben 
        interactive, Bethesda et Koch Media).
      </p>
    </div>


</div>




</div>
