<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1 class="contact-title"> La Playing Zone </h1>
  </div>
</div>

<div class="panel transparent">

  <div class="panel-heading text-center bold">
    <h3>Présentation de la Playing Zone </h3>
  </div>

  <div class="panel-body">
    <div class="col-md-12 col-xs-12">

      <h3 class="bold orange" style="font-size: 18px;">LA PLAYING ZONE, C’EST QUOI ?</h3>
      
      <%= image_tag "PLAYING.jpg", class:"img-responsive" %>
      
      <p style="margin-top:10px">
        Les tournois e-sport reviennent plus nombreux pour la 2ème année consécutive à Evry.
        A cette occasion, les organisateurs mettent à disposition des joueurs le Théâtre de l’Agora, transformé 
        pour l’occasion en e-sport Arena avec une capacité de plus de 240 places assises.<br />
        Organisé avec le soutien opérationnel de The eSport Academy et des Masters Français du Jeu Vidéo, 
        l’événement permettra aux meilleurs gamers du moment de s’affronter lors de finales en live !
      </p>
    </div>


</div>




</div>
