
<div class="panel transparent">
  <div class="panel-body text-center">
    <h1>Présentation de l'évènement</h1>
  </div>
</div>


<div class="panel transparent">
  <div class="panel-body">
    <h4>Evry Games City, c’est le rendez-vous « jeunesse » pour tous , curieux, amateurs, ou passionnés du jeu vidéo en France.</h4> 
  </div>
</div>
