
<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1>Espace Presse</h1>
  </div>
</div>

<div class="panel transparent">
  <div class="panel-body">
    <p>Pour toute question qui ne trouverait pas une réponse sur le site, n'hésitez pas à nous contacter directement à l’adresse suivante : <%= link_to "contactpresse@evrygamescity.fr", "mailto:contactpresse@evrygamescity.fr" %></p>
    <p>Pour les demandes d'accréditations presse, cliquez <%= link_to "ici", "https://docs.google.com/forms/d/1q6qYqGtsVqA34vjGVFRLBywXWaA5A6fc6vIhc2nmR8s/viewform?c=0&w=1", target: "blank" %></p>

    <div class="pdf_presse">
      <a href="CP_EGC2016.jpg" target="_blank">
        <%= image_tag "dossier_presse.jpg", alt: "Communiqué de presse", class:"img-responsive" %>
      </a>
    </div>

  </div>



</div>





