
<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1>Espace Presse</h1>
  </div>
</div>

<div class="panel transparent">
  <div class="panel-body">
    Pour toute question qui ne trouverait pas une réponse sur le site, n'hésitez pas à nous contacter directement à l’adresse suivante : <%= link_to "contactpresse@evrygamescity.fr", "mailto:contactpresse@evrygamescity.fr" %>

    <div class="pdf_presse">
      <a href="Communique de presse Evry Games City.pdf" target="_blank">
        <img src="/assets/dossier_presse.jpg" alt="Communiqué de presse Evry Games City" class="img-responsive">
      </a>
    </div>

  </div>



</div>





