



<div class="col-md-3 col-sm-6 mosaique infos"> 


  <div class="panel transparent">
    <div class="panel-heading text-center">
        <h4><%= t("#{infotag}.name").upcase %></h4>
    </div>

    <a href="<%=informations_path(anchor: infotag) %>" title="<%= t("#{infotag}.mosaique-text") %>">
      <div class="panel-body">
        
        <%= image_tag t("#{infotag}.logo"), class: "infologo-center" %>
      </div>
    </a>
  </div>

</div>
