
<div class="mosaique partenaire"> 
  <div class="panel transparent">
    <div class="panel-body">
      <a href="<%= t("partenaire-#{i}.url") %>" target="_blank">
        <%= image_tag t("partenaire-#{i}.image"), class: "center-block img-responsive", alt: t("partenaire-#{i}.name") %>
      </a>
    </div>    

  </div>
</div>
