

<% nbpart = 11 %>
<% nb_display = 6 %>
<% nb_lignes =(nbpart/nb_display).round %>

<div class="carousel-partenaires">

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <% (0..nb_lignes).each do |i| %>
      <div class="item <%= "active" if i == 0 %>">
        <div class="row">

          <!--div class="col-md-1"-->
          <!-- pour centrer les 3 partenaires -->
          <!--/div-->

          <%# display_a = (i..nbpart).to_a.concat((1..(i - 1)).to_a).take(nb_display) %>
          <%# display_a = (1..nbpart) %>

          <% if i == nb_lignes %>
            <% display_a = ((i*nb_display +1)..nbpart) %>
          <% else %> 
            <% display_a = ((i*nb_display + 1)..((i+1)*nb_display))  %>
          <% end %>


          <% display_a.each do |j| %>
            <div class="col-md-2 mosaique-container">
              <%= render partial: 'static_pages/partenaires/partenaire_mosaique', locals: { i:j } %>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
  </div><!-- carousel inner -->

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <!--span class="glyphicon glyphicon-chevron-left"></span-->
    <%= image_tag "Fleche_gauche.png", class: "control" %>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <!--span class="glyphicon glyphicon-chevron-right"></span-->
    <%= image_tag "Fleche_droite.png", class: "control" %>
  </a>
</div>

</div>
