
<div class="col-md-2 mosaique partenaire"> 
  <div class="panel panel-default">
    <div class="panel-body">
      <a href="<%=partenaires_path %>" >
        <%= t("partenaire-#{i}") %>
      </a>
    </div>    

  </div>
</div>
