@font-face {
  font-family: 'eurostyle';
  src: font-url('Eurostile_LT_Extended_2.ttf') format('truetype');
}


@font-face {
  font-family: 'eurostyle-bold';
  src: font-url('Eurostile_LT_Bold_Extended_2.ttf') format('truetype');
}


@font-face {
  font-family: 'bebas';
  src: font-url('BebasNeue.otf') format('opentype');
}
