//@import "bootstrap";

$body-margin: 60px;
$bleu-gris: #1e2f44;
$orange: #ea6d2e;
$lightgrey: #3f3f3f;

body {
  margin-top: $body-margin;
  font-family: 'eurostyle';
  background-image: asset-url("EGC_MASTER_NOLOGOS.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 970px;
}

footer {
  .container {
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
    color: #707070;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin-top: 10px;
}

.navbar-inverse {
  font-family: 'eurostyle';

  background-color: $bleu-gris;
  * { color: white !important; }

  .active a.navlink {
    background-color: $orange !important;
  }

  .dropdown-menu {
    background-color: $bleu-gris;
  }
  .dropdown-menu>li>a:hover {
    background-color: $orange !important;
  }
}


.panel-heading {
  font-family: 'eurostyle-bold';
  background-color: $orange !important;
  * { color: white !important;}
}

.transparent.panel {
  color: white;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
