//@import "bootstrap";

$body-margin: 60px;
$bleu-gris: #1e2f44;
$orange: #ea6d2e;

body {
  margin-top: $body-margin;
}

.container {
  max-width: 970px;
}

footer {
  .container {
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
    color: #707070;
  }
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
}

.navbar-inverse {
  background-color: $bleu-gris;
  * { color: white !important; }

  li.active a.navlink {
    background-color: $orange !important;
  }

  .dropdown-menu {
    background-color: $bleu-gris;
  }
  .dropdown-menu>li>a:hover {
    background-color: $orange !important;
  }
}
