//@import "bootstrap";

$body-margin: 60px;
$bleu-gris: #1e2f44;
$orange: #ea6d2e;
$lightgrey: #3f3f3f;

body {
  margin-top: $body-margin;
  color: white;
  font-family: 'eurostyle';
  background-color: black;
  background-image: image-url("Site_EGC_Background2_copy.jpg");
  //background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.bold {
  font-family: "eurostyle-bold";
}

.container {
  max-width: 970px;
}

footer {
  .container {
    margin-bottom: 50px;
    margin-top: 10px;
    padding-top: 10px;

    border-top: 2px solid #eaeaea;
    color: #707070;
    * { margin-right: 20px; }
    a:hover, a:link, a:visited, a:active { color: white; }
    
    td.ml { margin-left: 10px !important; }
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin-top: 10px;
}

.navbar-inverse {
  font-family: 'bebas';
  letter-spacing: 2px;
  font-weight: bold;

  background-color: $bleu-gris;
  * { color: white !important; }

  .active a.navlink {
    background-color: $orange !important;
  }

  .navlink { height: 50px; }

  li:hover a.navlink { background-color: $orange}

  .dropdown-menu {
    background-color: $bleu-gris;
  }
  .dropdown-menu>li>a:hover {
    background-color: $orange !important;
  }
}


.panel-heading {
  font-family: 'eurostyle-bold';
  background-color: $orange !important;
}

.transparent.panel {
  background-color: rgba(0, 0, 0, 0.75) !important;
}





.hover:hover {
  img.orange-icon { visibility: visible; display: block; }
  img.white-icon { visibility: hidden; display: none; }
}

.hover {
  background-repeat: no-repeat;
  background-position: center center;
  display:block;
  img.orange-icon { visibility: hidden; display: none; }
  img.white-icon { visibility: visible; display: block; }
}



