//@import "bootstrap";

$body-margin: 60px;
$bleu-gris: #1e2f44;
$orange: #ea6d2e;
$lightgrey: #3f3f3f;

body {
  margin-top: $body-margin;
  color: white;
  font-family: 'helvetica';
  background-color: black;
  //background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

body.duo {
  background-image: image-url("Site_EGC_Background_duo.jpg"); 
}
body.empty {
  background-image: image-url("Site_EGC_Background_empty.jpg"); 
}
body.solo {
  background-image: image-url("Site_EGC_Background_solo.jpg"); 
}
body.girls {
  background-image: image-url("Site_EGC_Background_girls.jpg"); 
}


.tabule {
  margin-left: 10px;
}
.bold {
  font-family: "eurostyle-bold";
}
.orange {
  color: $orange;
}
.small_bold {
  font-weight: bold;
  letter-spacing: 0.5px;
}


.container {
  max-width: 970px;
}

footer {
  .container {
    margin-bottom: 50px;
    margin-top: 10px;
    padding-top: 10px;

    border-top: 2px solid #eaeaea;
    * { margin-right: 20px; }
    a:hover, a:link, a:visited, a:active { color: white; }
    text-shadow: 1px 1px #707070;    

    td.ml { margin-left: 10px !important; }
  }
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
}

.navbar-inverse {
  font-family: 'bebas';
  letter-spacing: 1px;
  //font-weight: bold;

  background-color: $bleu-gris;
  * { color: white !important; }

  .active a.navlink {
    background-color: $orange !important;
  }

  .navlink { height: 50px; }

  li:hover a.navlink { background-color: $orange}

  .dropdown-menu {
    background-color: $bleu-gris;
  }
  .dropdown-menu>li>a:hover {
    background-color: $orange !important;
  }
}


.panel-heading {
  font-family: 'eurostyle-bold';
  //font-family: 'bebas';
  background-color: $orange !important;
}
.panel-body {
  font-size: 16px;
}

.transparent.panel {
  background-color: rgba(0, 0, 0, 0.75) !important;
}





.hover:hover {
  img.orange-icon { visibility: visible; display: block; }
  img.white-icon { visibility: hidden; display: none; }
}

.hover {
  background-repeat: no-repeat;
  background-position: center center;
  display:block;
  img.orange-icon { visibility: hidden; display: none; }
  img.white-icon { visibility: visible; display: block; }
}


.modal-content {
  background-color: black;
  color: black;
  .close {
    margin-top: 2px;
    color: white;
    font-size: 50px;
    opacity: 0.50;
  }
  .close:hover {
    opacity: 0.75;
  }
  .modal-header {
    padding-top : 0px;
    padding-bottom : 0px;
  }

}
