// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.anchor {
  margin-top: -60px;
  float: left; 
}

// HOME PAGE

.mosaique {
  margin: 0px;
  padding: 10px;
  .panel {
     margin-bottom: 0px;
   }
}

.twitter {
  padding-bottom: 0px;
  * {
    margin: 0px;
    padding: 0px;
  }
}
.instagram { 
  padding-top: 5px;
  .panel {
    height: 364px;
    .panel-body {
      padding: 0px;
    }
    .panel-heading h4 {
      font-family: 'helvetica';
    }
  } 
}

.home-banniere {
  margin-top: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

.home-footer {
  border-top: 2px solid #eaeaea;
  padding-top: 20px;
  margin-top: 10px;
  border-color: white;

  .social-links {
    margin-top: 5px;
    .social-link {
      float: right;
      margin-left: 10px;
    }
  }
  .middle-home-footer {
    border-left: 2px solid #eaeaea;
    border-right: 2px solid #eaeaea;
    height: 110px;
  }
}


.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}

.jeu:hover img {
  opacity: 0.75;
}
.billeterie:hover img {
  opacity: 0.75;
}


// MOSAIQUE INFOS

.mosaique.infos {
  a:hover, a:link, a:visited, a:active { color: white; text-decoration: none; }
  color: white;
  .panel {
    height: 200px;
  }
}

.mosaique.infos .info-text {
  visibility: hidden;
  margin-top: 20%;
}
.mosaique.infos:hover img {
  visibility: hidden;
  display: none;
}
.mosaique.infos:hover .info-text {
  visibility: visible;
}

.infologo-center {
  margin-left: auto; 
  margin-right: auto;
  margin-top: -5px;
  display: block; 
}


// PAGE TOURNOIS

.banniere-game {
  position: relative;
}

.banniere-game .game-title {
  position: absolute;
  z-index: 1;
  top: 40%; left: 0%; 
  margin-right: auto;

}






