// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.anchor {
  margin-top: -60px;
  float: left; 
}

#left-mosaique {
  //background-color: grey;
  //height: 200px;
}

#right-mosaique {
  //background-color: grey;
  //height: 200px;
}

.mosaique {
  //background-color: blue;
  //color:white;
  margin: 0px;
  padding: 10px;
  .panel {
     margin-bottom: 0px;
   }
}

#banniere .panel {
  height: 200px;
  //background-color: #202020;
}

.slideshow {
  //height:300px;
  //background-color: #303030;
}
.jeu .panel {
  height: 250px;
  //background-color: #404040;
}
.twitter {
  //height: 350px;
  //background-color: #505050;
  * {
    margin: 0px;
  }
}
.instagram .panel {
  height: 350px;
  //background-color: #606060;
  .panel-body {
    padding: 0px;
  }
}
.billeterie .panel {
  height: 100px;
  //background-color: #707070;
}
.infos .panel {
  height: 200px;
  //background-color: #707070;
}
.partenaires .panel {
  height: 150px;
  //background-color: #606060;
}

.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}
