<div class="panel panel-info">
  <div class="panel-heading text-center">
    <h1><%= t("#{gametag}.name") %> </h1>
  </div>
</div>

<%= render partial: 'jeux/jeu_subsection', locals: { gametag: gametag, categ: :regles} %>
<%= render partial: 'jeux/jeu_subsection', locals: { gametag: gametag, categ: :materiel} %>
<%= render partial: 'jeux/jeu_subsection', locals: { gametag: gametag, categ: :recompenses} %>
<%#= render partial: 'jeux/jeu_subtitle', locals: { gametag: gametag, categ: :inscription} %>
<%#= render partial: 'jeux/jeu_subtitle', locals: { gametag: gametag, categ: :arbre} %>


