<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class=<%= categ %>><%= t(categ) %></h4>
  </div>
  <div class="panel-body">
    <%= t("#{gametag}.#{categ}") %>

  </div>
</div>

 
