<div class="panel panel-default banniere-game">
  <div class="panel-body">
    <%= image_tag t("#{gametag}.banniere"), class: "img-responsive" %>
  </div>
</div>

<%= render partial: 'jeux/jeu_subsection', locals: { gametag: gametag, categ: :regles} %>
<%= render partial: 'jeux/jeu_subsection', locals: { gametag: gametag, categ: :materiel} %>
<%= render partial: 'jeux/jeu_subsection', locals: { gametag: gametag, categ: :recompenses} %>
<%#= render partial: 'jeux/jeu_subtitle', locals: { gametag: gametag, categ: :inscription} %>
<%#= render partial: 'jeux/jeu_subtitle', locals: { gametag: gametag, categ: :arbre} %>


