<div class="row">

     <div class="col-md-12">
	<div class="panel panel-default banniere-game">
	  <div class="panel-body">
	    <%= image_tag t("sfv.banniere"), class: "img-responsive" %>
	    <!--div class="game-title text-center col-md-12">
	      <h1 class="bold"><%= t("sfv.name") %></h1>
	    </div-->
	  </div>
	</div>
      </div>
</div>

<!-- billeterie
<div class="panel panel-iframe">
  <iframe class="embed-responsive-item" width="300" height="88" src="//www.toornament.com/widget/tournaments/547df84b140ba0ea048b458e/registration?_locale=fr_FR" frameborder="0" allowfullscreen></iframe>
</div> -->

<div class="row">

	<div class="col-md-6"><!-- LEFT COLUMN -->

          <!-- informations -->
          <div class="panel panel-iframe">
	      <iframe width="100%" height="380" src="https://widget.toornament.com/tournaments/56911c11150ba01e5a8b4567/" frameborder="0" scrolling="no" allowfullscreen="true"></iframe> 
          </div>

          <!-- participants
          <div class="panel panel-iframe">
	    <iframe width="100%" height="380" src="https://widget.toornament.com/tournaments/56911c11150ba01e5a8b4567/participants?_locale=en_GB&theme=discipline" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
          </div>  -->

          <!--div class="panel transparent">
            <div class="panel-heading text-center">
              <h4>GUESTS</h4>
            </div>
            <div class="panel-body">
               <ul><li>IMG</li>
               <li>Remake Esport</li>
               <li>aAa</li></ul>
            </div>
          </div--> 

	</div>


	<div class="col-md-6"><!-- RIGHT COLUMN -->

	  <div class="panel transparent">
	    <div class="panel-heading text-center">
	      <h4>REGLES</h4>
	    </div>
	    <div class="panel-body">
	      <h4>Tournois 64 slots sur inscription</h4>
	      <h4 class="orange">Déroulement online : </h4>
	      <ul>
		<li>Phase de poule en BO3</li>
		<li>Quarts de finales et demi-finales en BO3</li>
	      </ul>
	     <h4 class="orange">Déroulement de la finale offline : </h4>
	    La finale se déroulera en BO5.<br />
	    Elle aura lieu lors d'Evry Games City, les 16 et 17 Avril 2016, aux Arènes de l'Agora, 91000 Evry.<br />
	    Tous les résultats de vos matchs devront être envoyés à <a href="mailto:contact@theesportacademy.com">The eSport Academy</a>, screen à l'appui.

	      </div>
	  </div>


	  <div class="panel transparent">
	    <div class="panel-heading text-center">
	      <h4 class="recompenses">RECOMPENSES</h4>
	    </div>
	    <div class="panel-body">
			<ul>
				<li>100% des inscriptions seront reversées dans le cashprize, réparti entre les deux finalistes</li>
				<li>Les deux premiers de chaque groupe de poule remporteront des dotations de matériel de nos partenaires et sponsors</li>
			</ul>
	    </div>
	  </div>





	</div>


</div>


<!--<div class="row"> bracket 
	<div class="col-md-12">
          <div class="panel panel-iframe">
	    <iframe width="100%" height="380" src="https://widget.toornament.com/tournaments/56911c11150ba01e5a8b4567/stages/1?_locale=en_GB&theme=discipline" frameborder="0" scrolling="no" allowfullscreen="true"></iframe> 
          </div>
	</div>-->

</div>
