<div class="billeterie-panel">
  <div class="acheter-places text-center">
    <a onclick="window.open('http://www.moxity.com/events/evry-games-city-le-nouveau-grand-rendez-vous-des-amateurs-et-des-passionnes-du-jeu-video-en-france-invitation/ticketing/select?colors[]=ffffff&colors[]=eeeeee&colors[]=666666&colors[]=B70D1A&colors[]=ffffff&colors[]=B70D1A&colors[]=FF0013&', 'Billetterie', 'height=600, width=640, toolbar=no, menubar=no, location=yes, resizable=yes, scrollbars=yes, status=yes');return false;" href="http://www.moxity.com/events/evry-games-city-le-nouveau-grand-rendez-vous-des-amateurs-et-des-passionnes-du-jeu-video-en-france-invitation/ticketing/select?colors[]=ffffff&colors[]=eeeeee&colors[]=666666&colors[]=B70D1A&colors[]=ffffff&colors[]=B70D1A&colors[]=FF0013&" style="padding:0; background-image:none;display:block; height:50px; overflow:hidden">

      <img src="<%= image_path('BoutonBilleterie_304x100_refait.jpg')%>" width="304" height="100" alt="" border="0" onmouseover="this.style.marginTop='-50px'" onmouseout="this.style.marginTop='0px'" />
  
  </a>


  </div>

  <div class="codes-reservation text-center">

    <a onclick="window.open('http://www.moxity.com/events/evry-games-city-le-nouveau-grand-rendez-vous-des-amateurs-et-des-passionnes-du-jeu-video-en-france-inscription/ticketing/select?colors[]=ffffff&colors[]=eeeeee&colors[]=666666&colors[]=B70D1A&colors[]=ffffff&colors[]=B70D1A&colors[]=FF0013&', 'Billetterie', 'height=600, width=640, toolbar=no, menubar=no, location=yes, resizable=yes, scrollbars=yes, status=yes');return false;" href="http://www.moxity.com/events/evry-games-city-le-nouveau-grand-rendez-vous-des-amateurs-et-des-passionnes-du-jeu-video-en-france-inscription/ticketing/select?colors[]=ffffff&colors[]=eeeeee&colors[]=666666&colors[]=B70D1A&colors[]=ffffff&colors[]=B70D1A&colors[]=FF0013&" style="padding:0; background-image:none;display:block; height:50px; overflow:hidden">

      <img src="<%= image_path('BoutonInvitations_304x100_refait.jpg')%>" width="304" height="100" alt="" border="0" onmouseover="this.style.marginTop='-50px'" onmouseout="this.style.marginTop='0px'" />
    </a>
  </div>

</div>
