
<!--<div class="">
	<div class="billeterie-panel">
	  <% lien_reservation = 'https://www.placeminute.com/evry_games_city,3,151844.html' %>
	  <%= link_to "BILLETTERIE SPECTATEURS", lien_reservation, target: "_blank", class:"btn btn-default btn-block default-billeterie bold", style: "font-size: 18px;" %>
	</div>
</div>-->
