
        <div class="col-md-6 mosaique csgo">
          <div class="jeu">
            <a class="thumbnail" href="/jeux/<%=gametag%>">
              <%= image_tag t("#{gametag}.icon") %>
            </a>
          </div>
        </div>
