
        <div class="col-md-6 mosaique">
          <div class="jeu">
            <a class="" href="/jeux/<%=gametag%>">
              <%= image_tag t("#{gametag}.icon"), class: "center-block" %>
            </a>
          </div>
        </div>
