
        <div class="col-md-6 mosaique csgo">
          <div class="panel panel-default jeu">
            <a class="panel-body" href="/jeux/<%=gametag%>">
              <%= image_tag t("#{gametag}.icon") %>
            </a>
          </div>
        </div>
